<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==' crossorigin='anonymous'/>
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://unpkg.com/vue@3"></script>
  <title>Vue To Do List</title>
</head>
<body>

  <div id="app">
    <div id="logo">
      <img src="./img/logo.png" alt="Logo">
    </div>
    <div id="input-area">
      <input type="text" placeholder="New task" v-model.trim="tempTask" @keyup.enter="addTask()">
      <button @click="addTask()">Add</button>
      <p>{{warningMsg}}</p>
    </div>
    <ul id="task-area">
      <li v-for="(task, index) in tasks" class="task" :class="[task.tag, {'done': task.done}]" @click="task.done = !task.done">
        <div class="tag" @click.stop="task.toggleTag = !task.toggleTag"></div>
        <div class="select-tag" v-if="task.toggleTag">
          <button class="tag-btn green" @click.stop="changeTag('green', task)"></button>
          <button class="tag-btn red" @click.stop="changeTag('red', task)"></button>
          <button class="tag-btn blue" @click.stop="changeTag('blue', task)"></button>
          <button class="tag-btn" @click.stop="changeTag('', task)"></button>
        </div>
        <span>{{task.text}}</span>
        <i class="fa-solid fa-xmark" @click.stop="removeTask(index)"></i>
      </li>
      <h3 v-if="tasks.length == 0">There's nothing left to do &#x1F631;</h3>
      <li v-else style="display: flex; justify-content: space-between;">
        <span>Click the circle to change the Color Tag</span>
        <span>Task to do: {{numbTasks}}</span>
      </li>
    </ul>
    
  </div>

  <script src="./js/app.js"></script>  
</body>
</html>